extends layout

block content
  h1= title
  form(method='POST', action='/new')
    input(
        type="text"
        class="input"
        name="user"
        required
        placeholder="Username")
    br
    br 
    textarea(
        class="input"
        required
        name="text"
        placeholder="enter message")
    br
    input(type="submit", class="btn")
    form
